[
    {
        "hostname": "my-backup-host.domain",
        "port": 22,
        "wake_on_lan_mac": "00:11:22:33:44:55",
        "borg_rsh": "/usr/bin/sshpass -f/root/.ssh/pass -P assphrase /usr/bin/ssh",
        "borg_repo_root": "/path/to/borg/repo"
    }
]